
 /**Name: Mohabatjit Singh 
     File: part1.html 
     Date: 17 June,2025 
     this is style for part 1*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /**Make the level one heading pink, using the CSS color keyword hotpink.*/
  color: hotpink;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  /**Give the heading a 10px dotted border-bottom which uses the CSS color keyword purple.*/
  border-bottom: 10px dotted purple;
  
}

h2 {
  font-size: 1.5em;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}

